doctype
html
  head
    title Camden Grounds!
    link(rel="stylesheet" href="/css/style.css")
  
  body
    div(id="page")
      div
        div(id = "header")
          a(href="/index.html") 
            img(src="/images/logo.png", alt="Image")
          ul
            li
              //if current.source == "index"
                class = "current"
              a(href = "/index.html") Home
            
            li
              //if current.source == "menu"
                class = "current"
              a(href = "/menu.html") Menu
            
            li
              //if current.source == "location"
                class = "current"
              a(href = "/location.html") Locations
            
            li
              //if current.source == "about"
                class = "current"
              a(href = "/about.html") About Us

        div(id = "body")
          !=yield
        
        div(id = "footer")
          div
            a(href="index.html")
              img(src="/images/logo2.png" alt = "Image")
            
            p(class="footnote") Cameden Grounds. <br> All Rights Reserved.
          
          div(class="section")
            ul
              li
                a(href="index.html") Home
              li
                a(href="menu.html") Menu
              li
                a(href="locations.html") Locations
              li
                a(href="about.html") About
            
          

      
  
  