div(id="figure")
    img(src = "../images/headline-menu.jpg" alt="Image")
    span #{name}

div
    a(href="../menu.html" class="whatshot") What's Hot

img(src="../images/#{image}" alt="#{name}" style="float:right")